/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/rubik-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/rubik-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/rubik-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/rubik-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/rubik-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/rubik-v23-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  
  /* rubik-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/rubik-v23-latin-500.eot'); /* IE9 Compat Modes */
    src: url('fonts/rubik-v23-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/rubik-v23-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/rubik-v23-latin-500.woff') format('woff'), /* Modern Browsers */
         url('fonts/rubik-v23-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/rubik-v23-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  
  /* rubik-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/rubik-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: url('fonts/rubik-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/rubik-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/rubik-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/rubik-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/rubik-v23-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  
  

body{
    background-color: #FEFAEF;
    height: 100vh;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 900px;
    border-radius: 10px;
}

.card-title{
    margin-bottom: 38px;
}

.question-card{
    height: initial;
    width: initial;
}

.card-body{
    flex: inherit;
}

.card-image{
    left:0;
    right:0;
    top: 16px;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
    width: 40%;

}

.card-left{
    background-color: #27355C;
    width: 20%;
    border-radius: 10px 0 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-left a{
    text-decoration: none;
    color: gray;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
}

.card-left a:hover{
    color: white;
    transition: all 0.2s ease-in-out;
}

.card-right{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card-bottom{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 12px;
    left: 32px;
    right: 32px;
}